:root {
    --sidebar-bg-color: #1992D4;
    --main-bg-color: #E2E8F0;
}

body {
    font-family: "Roboto", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 5fr; */
    grid-template-rows: auto 1fr;
}

header {

}

aside {
    background-color: var(--sidebar-bg-color);
    grid-area: 1 / 1 / 3 / 2;
}

main {
    background-color: var(--main-bg-color);
}
