:root {
    --sidebar-bg-color: #1992d4;
    --main-bg-color: #e2e8f0;
    --card-border-color: #F0B429;
}

body {
    font-family: "Roboto", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    font-family: inherit;
}

ul li {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 5fr; */
    grid-template-rows: auto 1fr;
}

header {
    display: grid;
    grid-template-rows: auto auto;
    padding: 0px 32px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.header-bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-search-bar {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 18px 0px;
}

.header-search-bar input {
    background-color: var(--main-bg-color);
    border: none;
    outline-style: none;
    border-radius: 12px;
    flex: 1;
    font-size: 1rem;
    padding: 8px 6px;
    max-width: 600px;
}

.header-user-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 18px 32px;
}

.username {
    font-size: 1.2rem;
}

.user-avatar {
    border-radius: 50%;
}

.header-navbar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0 0 16px 0;
}

.user-greeting {
    display: flex;
    align-items: center;
    gap: 8px;
}

.greeting-text {
    padding: 8px;
}

.greeting-small {
    font-weight: 500;
    margin-bottom: 5px;
}

.greeting-details {
    font-size: 1.5rem;
}

.header-buttons {
    display: flex;
    justify-content: space-evenly;
}

.header-button {
    background-color: var(--sidebar-bg-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px 35px;
    min-width: 120px;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.header-button:hover {
    transform: translateY(-3px);
}

.header-button:active {
    transform: translateY(1px);
}

main {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 24px;
    padding: 20px 32px;
}

.project-text, .announcement-text, .trending-text {
    font-size: 1.4rem;
    font-weight: 500;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 24px;
    margin-top: 12px;
}

.card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card {
    border-left: 10px solid var(--card-border-color);
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 32px 20px;
}

.project-card h3 {
    font-size: 1.4rem;
}

.project-card p {
    font-size: 1.1rem;
    margin-top: 12px;
}

.card-icons {
    margin-top: auto;
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.column-container {
    margin-top: 12px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 24px
}

.announcement-card {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    gap: 24px;
    padding: 20px 32px;
}

.announcement {
    border-bottom: 1px solid lightgray;
    padding: 16px 0;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement-title {
    font-weight: 600;
}

.announcement-description {
    margin-top: 6px;
    line-height: 1.2;
}

.trending-container {

}

aside {
    background-color: var(--sidebar-bg-color);
    grid-area: 1 / 1 / 3 / 2;
}
